canvas {
    margin-top: 6px;
    padding: 0px;
    width: 400px;
    height: 300px;
    box-shadow: 0 0 10px #777;
}

.var {
    margin-left: 1px;
    margin-right: 1px;
}

.stats {}

#frame {
    /* width: 100%;
    height: 100%; */
    /* margin: 0; */
    padding-bottom: 2000px;
    padding: 0;
}

#pad {
    float: left;
}

#intro {
    box-sizing: border-box;
    padding: 15px;
    float: left;
    max-width: 400px;
    font: 0.8em sans-serif;
}

#info {
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 0 5px #777;
}

#fpsBar {
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 0 5px #777;
}

#slider {
    width: 100%;
}